<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/agric.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">PARTENARIAT PAGE</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <!--    <app-top-content></app-top-content>-->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->

<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<section id="partenariats" class="partenariats">
  <div class="container" data-aos="fade-up">


    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div *ngIf="!loading && partenariats.length > 0" class="col-lg-12">
        <div class="row">
          <div *ngFor="let partenariat of partenariats" class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="partenaire-item">
              <div class="partenaire-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3 class="partenaire-name" style="color: #559b0b;">{{ partenariat.nom }} {{ partenariat.prenom }}</h3>
                  <p class="email">{{ partenariat.email }}</p>
                </div>
                <div class="partenaire-details">
                  <p class="phone"  style="color: black;">Téléphone: {{ partenariat.numeroTelephone }}</p>
                  <!-- Affichage de l'image si elle existe -->
                  <div *ngIf="partenariat.image">
                    <img [src]="'data:image/png;base64,' + partenariat.image" alt="Image du partenaire" width="170" height="170" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && partenariats.length === 0" class="no-partners">
        <p>Aucun partenariat trouvé.</p>
      </div>
    </div>
  </div>
</section>

<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
