<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/agric.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        
        
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <!-- Contenu supplémentaire ou optionnel -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Nos Formations Disponibles</h2>
        <p class="subtitle">Découvrez des formations adaptées à vos besoins pour exceller dans le secteur agricole. Nos programmes pratiques et interactifs vous fournissent les compétences nécessaires pour réussir, que vous soyez débutant ou professionnel.</p>
      </div>
    </div>

    <!-- Cartes pour afficher les formations -->
    <div class="row">
      <div *ngFor="let formation of formations" class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ formation.titre }}</h5>
            <p class="card-text">{{ formation.description }}</p>
            <p class="card-text">
              <small class="text-muted">Date de début: {{ formation.date }}</small><br />
              <small class="text-muted">Type de formation: {{ formation.type }}</small><br />
              <small class="text-muted">Catégorie: {{ formation.categorie }}</small>
            </p>
            <a href="#" class="btn btn-primary" (click)="participerFormation(formation.id)">Participer à cette formation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->
