<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <!--<li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>-->
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/" style="color: white; font-weight: bolder; font-size: 20px">
                Accueil
            </a>
        </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/project" style="color: white; font-weight: bolder; font-size: 20px">
          Projet
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/recoltes" style="color: white; font-weight: bolder; font-size: 20px">
          Recoltes
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/formation" style="color: white; font-weight: bolder; font-size: 20px">
          Formation
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/ressources" style="color: white; font-weight: bolder; font-size: 20px">
          Ressources
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/partenariat" style="color: white; font-weight: bolder; font-size: 20px">
          Partenariat
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/reclamation" style="color: white; font-weight: bolder; font-size: 20px">
          Reclamation
        </a>
      </li>

        <!--<li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.wrappixel.com/free-wrapkit-angular-blog">
                Download Free
            </a>
        </li>-->
    </ul>

</div>
